{% extends 'base.html.twig' %}

{% block title %}Atualizar POST !{% endblock %}

{% block body %}

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <section class="content-header">
        <h1>
            Post
            <small>Atualizar Posts</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="example-wrapper">
            {{ form_start(form, {'attr':{'novalidate': 'novalidate'}},{'method': 'POST'}) }}
                {{ form_widget(form) }}
                    <button class="btn btn-success" type="submit" formmethod="post">Atualizar</button>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
