{% extends 'base.html.twig' %}

{% block title %}Lista de Usuários{% endblock %}
{% block bodyTitle %}Lista de Usuários{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>
            Usuários
            <small>Lista de usuários</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        {% include 'includes/messages.html.twig' %}
        <a href="{{ path('admin_user_new') }}" class="btn btn-success">
            <i class="fa fa-user"></i> Criar
        </a>
        <hr>

        <div class="example-wrapper">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Usuário</th>
                        <th>E-mail</th>
                        <th>Data</th>
                        <th>Açao</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.createdAt|date('d/m/y H:i:s') }}</td>
                            <td>
                                <a class="btn btn-primary" href="{{ path('admin_user_update', {'id': user.id}) }}">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="btn btn-danger" href="{{ path('admin_user_delete', {'id': user.id}) }}">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
