{% extends 'base.html.twig' %}

{% block title %}Novo USUARIO{% endblock %}

{% block body %}
    {% for msg in app.session.flashBag.get('success') %}
        {{  msg  }}
    {% endfor %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <section class="content-header">
        <h1>
            Usuáriios
            <small>Cadastro de usuário</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="example-wrapper">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(form) }}
                    <button class="btn btn-success" type="submit" formmethod="post">Criar</button>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
